$gray: #888888;
$dark: #262626;
$black: #1f1f1f;
$primary: #E94B25;
$red: #F24E2B;
$secondary: #FFFFFF;
$purple: #8D77FE;
$fontFamily: 'Roboto', sans-serif;
$fontFamilySecondary: 'Rajdhani', sans-serif;
$lineHeight: 1.4;
$fontDefault: 14px;
$fontSize: 1rem;
$fontBig: 1.14rem;
$fontBigger: 1.28rem;
$fontBiggest: 1.5rem;
$fontSmall: 0.85rem;
$fontSmaller: 0.71rem;
$fontSmallest: 0.57rem;
$fontSuper: 2rem;
$fontSuperBig: 3rem;
$fontSuperBigger: 4rem;
$normal: 400;
$bold: 700;
$breakPointMobile: 768px;
$breakpointTablet: 992px;
$breakpointDesktop: 1024px;
$breakpointWide: 1280px;
